<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FolderPath" value="" />
    <add key="FileFilter" value="*.mobi" />
    <add key="KindleMail" value="" />
    <add key="SmtpPort" value="" />
    <add key="SmtpServer" value="" />
    <add key="SmtpUserName" value="" />
    <add key="SmtpPassword" value="" />
  </appSettings>
</configuration>